/* 布局 */
.flex{
	flex-direction: row;
}
/* 边距 */
.padding{
	padding: 0rpx 32rpx;
}
/* 颜色 */
.bg{
	background-color: #090909;
}
.wg{
	background-color: #fff;
}
.hei{
	background-color: #1C1C1C;
}
.bai{
	background-color: #F4F4F4;
}
.heibut{
	background-color: #333333;
}
.heibo{
	background-color: #1C1C1C;
}
.baibo{
	border: 1px solid #efefef;
	background-color: #F4F4F4;
}
.hei1{
	background-color: #4e4e4e;
}
.bai1{
	background-color: #E4E4E4;
}
.hei666{
	background-color: #3d3d3d;
}
.hei777{
	background-color: #232323;
}


.baicolor{
	color: #666666;
}
.isActive{
	color: #FF5927;
}
.noActive{
	color: #C1C1C1;
}
.c1Theme{
	color: #1C1C1C;
}
.noTheme{
	color: #1C1C1C;
}
.isTheme{
	color: #ffffff;
}


.baibottom{
	border: 1rpx solid #C1C1C1;
}
.heibottom{
	border: 1rpx solid #1C1C1C;
}




